<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Form</title>
   
</head>
<body>
    <div>
        <form action="/addData" enctype="multipart/form-data" method="post">
            <h1>Add Recipe</h1>
            <input type="text" placeholder="Recipe Name" name="name" required>
            <input type="text" placeholder="Recipe Ingredints" name="ingred" required>
            <input type="file" name="image" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
