<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input hidden type="text" value="<%=data.id%>" name="id" >
        <input type="text" value="<%=data.name%>" placeholder="Enter Book name" name="name">
        <input  type="text" value="<%=data.subject%>" placeholder="Enter subject" name="subject">
        <input type="text" value="<%=data.city%>" placeholder="Enter city" name="city">
        <button type="submit">updateData</button>
    </form>
</body>
</html>